// css spec: 96px = 1 inch

$oneInch: 96px;
$card-inner-width: 70mm;
$card-inner-height: 120mm;

$bleed: 4mm;

$card-bleed-width: $card-inner-width + $bleed * 2;
$card-bleed-height: $card-inner-height + $bleed * 2;

$page-width: 8.5 * $oneInch;
$page-height: 11 * $oneInch;

$col-per-page: 2;
$row-per-page: 2;

$card-area-width: $card-bleed-width * $col-per-page;
$card-area-height: $card-bleed-height * $row-per-page;

$page-padding-x: ($page-width - $card-area-width) * 0.5;
$page-padding-y: ($page-height - $card-area-height) * 0.5;

.page-card-grid {
    box-sizing: content-box;
}

@include color-mode(dark) {
    body .output-container {
        --bs-body-color: #000;
    }
}

$grid-gap: 20px;
$bleed-mark-size: 18px;

.output-container {
    .page-card-grid {
        display: grid;
        grid-template-columns: repeat(2, $card-bleed-width);
        grid-template-rows: repeat(2, $card-bleed-height);
        justify-content: center;
        align-content: center;

        gap: $grid-gap;
        width: $card-bleed-width * $col-per-page;
        height: $card-bleed-height * $row-per-page;
        padding: $page-padding-y $page-padding-x;
        position: relative;
    }

    .page-number {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 0.8rem;
    }

    .game-card {
        width: $card-bleed-width;
        height: $card-bleed-height;
        position: relative;

        .game-card-image {
            width: $card-bleed-width;
            height: $card-bleed-height;
            position: absolute;
            top: 0;
            left: 0;
        }

        %game-card-bleed-outline {
            border-style: solid;
            border-color: #000;
            position: absolute;
        }

        .game-card-bleed-outline-top {
            @extend %game-card-bleed-outline;
            width: $card-inner-width;
            height: $bleed-mark-size;
            top: -$bleed-mark-size;
            border-width: 0 1px;
            left: $bleed;
        }

        .game-card-bleed-outline-bottom {
            @extend %game-card-bleed-outline;
            width: $card-inner-width;
            height: $bleed-mark-size;
            border-width: 0 1px;
            bottom: -$bleed-mark-size;
            left: $bleed;
        }

        .game-card-bleed-outline-left {
            @extend %game-card-bleed-outline;
            width: $bleed-mark-size;
            height: $card-inner-height;
            border-width: 1px 0;
            left: -$bleed-mark-size;
            top: $bleed;
        }

        .game-card-bleed-outline-right {
            @extend %game-card-bleed-outline;
            width: $bleed-mark-size;
            height: $card-inner-height;
            border-width: 1px 0;
            right: -$bleed-mark-size;
            top: $bleed;
        }

        .game-card-image-not-found-outline {
            width: 100%;
            height: 100%;
        }
    }
}

.game-card-image-not-found-outline {
    border: 1px solid rgba(0, 0, 0, 0.33);
    padding: 2rem;
}
