@import 'vue-sonner/style.css';

.animate-spin {
    animation: app-spin 1s linear infinite;
}

@keyframes app-spin {
    to {
        transform: rotate(360deg);
    }
}

@import 'variables';

.app-footer {
    background: $header-footer-bg;
}

.app-footer-save-bar-padding {
    padding-bottom: $save-bar-height;
}

.save-bar {
    height: $save-bar-height;
    z-index: $zindex-modal + 1;
    background: #1e1f20;
}

@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue-next/src/styles/styles';
@import 'bootstrap/dropdown';
@import 'bootstrap/buttons';
@import 'bootstrap/cards';
@import 'bootstrap/table';
@import 'bootstrap/navbar';
@import 'bootstrap/text';
    @import 'bootstrap/modal';

@import 'lib/hazard';
@import 'print-page';
@import 'page-cards-print';

:root {
    --bs-popover-header-color: var(--bs-body-color);
}

@include color-mode(dark) {
    --bs-popover-header-color: var(--bs-body-color);
}

html, body {
    font-optical-sizing: auto;
    font-style: normal;

    background: $header-footer-bg;
}

.bg-main {
    background-color: #0A0A0A;
}

.body-font {
    font-family: $font-family-base !important;
}

.title-font {
    font-family: $headings-font-family !important;
    text-transform: uppercase;
}

.title {
    font-family: $headings-font-family !important;
    text-transform: uppercase;
    color: $ink
}

.cursor-pointer {
    cursor: pointer;
}

.lg-invisible {
    visibility: visible;
    display: none;
}

@include media-breakpoint-up(md) {
    .lg-invisible {
        display: inherit;
        visibility: hidden;
    }
}

.chevron-pattern {
    background-size: $save-bar-height * 0.5 $save-bar-height;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 100'%3E%3Cpath d='M0 0 L25 0 L50 50 L25 100 L0 100 L25 50 Z' fill='%231a1a1a'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
}
